<form class="form-horizontal" >
    <div class="control-group">
        <label class="control-label" for="inputName">Title</label>
        <div class="controls">
            <input type="text" id="inputName" placeholder="Title" ng-model="note.title">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputEmail">Text</label>
        <div class="controls">
            <textarea rows="3" id="inputEmail" ng-model="note.text"></textarea>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <a href="#/" ng-click="addNote(note)" class="btn btn-primary">Save</a>
        </div>
    </div>
</form>